## Importing

In [1]:
import pandas as pd

## Reading data

In [3]:
sales=pd.read_excel("bike_sales.xlsx")

##  how many rows and columns

In [5]:
sales.shape

(113036, 18)

In [6]:
#What data consit of
sales.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

## Info about data

In [7]:
# info about df
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  datetime64[ns]
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(8)
memory usage: 15.5+ MB

## Cleaning Data

In [10]:
# remove all duplicated rows
sales.drop_duplicates(inplace = True)

In [11]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              112036 non-null  datetime64[ns]
 1   Day               112036 non-null  int64
 2   Month             112036 non-null  object
 3   Year              112036 non-null  int64
 4   Customer_Age      112036 non-null  int64
 5   Age_Group         112036 non-null  object
 6   Customer_Gender   112036 non-null  object
 7   Country           112036 non-null  object
 8   State             112036 non-null  object
 9   Product_Category  112036 non-null  object
 10  Sub_Category      112036 non-null  object
 11  Product           112036 non-null  object
 12  Order_Quantity    112036 non-null  int64
 13  Unit_Cost         112036 non-null  int64
 14  Unit_Price        112036 non-null  int64
 15  Profit            112036 non-null  int64
 16  Cost              112036 non-null  int64
 17  Revenue           112036 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(8)
memory usage: 16.2+ MB

## Correlation

In [13]:
sales.corr().style.background_gradient(cmap='coolwarm')

## How many product ?

In [58]:
nb_products=sales.Product.value_counts().count()
nb_products

130

## Revenue per product

In [74]:
revenue_per_product=sales.groupby("Product").sum().filter(["Revenue"])
# or
# c=sales.groupby("Product").sum().filter(["Revenue"]).loc["Classic Vest, M"]
revenue_per_product

                            Revenue
Product
AWC Logo Cap                 549220
All-Purpose Bike Stand       341419
Bike Wash - Dissolver        198745
Classic Vest, L              268943
Classic Vest, M              278764
...                             ...
Touring-3000 Yellow, 62       56634
Water Bottle - 30 oz.        736841
Women's Mountain Shorts, L   484179
Women's Mountain Shorts, M   663155
Women's Mountain Shorts, S   596287

[130 rows x 1 columns]

## Best selling product

In [66]:
Best_selling_product=sales.groupby("Product").sum().sort_values('Revenue',ascending=False).filter(["Revenue"])
Best_selling_product.head(1)

                  Revenue
Product
Road-150 Red, 62  3810023

## The 3 higther revenue by state

In [67]:
sales.groupby("State").sum().sort_values("Revenue",ascending=False).filter(["Revenue"]).head(3)

                  Revenue
State
California       17529787
England          10575628
New South Wales   9125980

## In which month was the higther profit and revenue ?

In [97]:
sales.groupby(by=["Month","Year"]).sum().sort_values("Profit",ascending=False).filter(["Profit","Revenue"]).head(1)

                Profit  Revenue
Month    Year
December 2015  1474279  3835500